<div class="col-md-12">

  <!-- BEGIN : Single Relay -->
  <div class="alert relay-alert"
      [ngClass]="configuration.color">

    <!-- Sensor Infomation -->
    <div class="pull-left relay-info">
      <h4>{{ configuration.relay.component.alias }}</h4>
      <p>{{configuration.relay.component.type | keyToTitle}}: {{ configuration.relay.state | keyToTitle }}</p>
    </div>

    <!-- Relay Toggle (switch) -->
    <div class="pull-right relay-toggle">
      <span class="badge dropshadow">
      <ui-switch
          class="pull-right"
          size="small"
          color="#5cb85c"
          switchColor="#f3f3f3"
          [checked]="configuration.relay.state == relayState.ON"
          [disabled]="configuration.relay.state === relayState.DISABLED"
          (click)="toggle(configuration.relay)">
      </ui-switch>
    </span>
    </div>

  </div>
  <!-- END : Single Relay -->

</div>
