.dropshadow {
  
}

.relay-alert::after {
  content: "";
  display: block;
  clear: both;
}

.relay-alert > .relay-info > h4 {
  font-weight: 500;
  margin-bottom: 0;
}

.relay-toggle > span {
  margin-top:4px;
  padding: 8px;
}
.relay-toggle > span {

}

.relay-alert > .relay-info > p {
  font-style: italic;
}

.relay-alert-gray-light {
  background-color: #546575;
}

.relay-alert-gray {
  background-color: #4e5d6c;
}

.relay-alert-gray-dark {
  background-color: #3f4b58;
}

.relay-alert-gray-darker {
  background-color: #2b3e50;
}
