<!-- BEGIN : FIXED SIDE PANEL -->
<div class="col-sm-12 col-md-4 col-lg-2"
    [ngClass]="configuration.classes">
  <nav class="navbar navbar-default navbar-fixed-side navbar-adjustment">
    <div class="container">
      <div class="navbar-collapse">
        <div class="container-fluid">

          <!-- BEGIN : Fixed Side Panel Components -->
          <div *ngIf="configuration.rows.length === 0" class="row">
            <div class="col-xs-12">
              <div class="alert alert-info">
                <span class="strong">Info: </span>There are no rows added to this panel.
              </div>
             </div>
           </div>
           <!-- END : Fixed Side Panel Components -->

           <!-- ADD ROWS FROM CONFIGURATION -->
           <div *ngIf="configuration.rows.length > 0">
             <gro-row
                 *ngFor="let row of configuration.rows"
                 [configuration]="row.configuration">
             </gro-row>
           </div>

        </div>
      </div>
    </div>
  </nav>
</div>
<!-- END : FIXED SIDE PANEL-->
