<div class="col-md-12">

  <!-- BEGIN : Sensor Alert -->
  <div class="alert sensor-alert"
      [ngClass]="configuration.color">

    <!-- Sensor Infomation -->
    <div class="pull-left sensor-info">
      <h4>{{ configuration.component.alias }}</h4>
      <p>{{ configuration.type }}</p>
    </div>

    <!-- Sensor Badge (Reading) -->
    <div class="pull-right sensor-badge">
      <span class="badge"><h2>{{ configuration.component.current }}</h2></span>
    </div>

  </div>
  <!-- END : Sensor Alert -->

</div>
