<!-- BEGIN : LOGIN TEMPLATE -->
<div class="container-fluid">
   
  <!-- BEGIN : HEADER-->
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-2
                col-sm-offset-2 col-md-offset-4 col-lg-offset-5">
      <img class="img-responsive"
           src="../assets/images/logo.png" />
      <legend>
        <h2>Login</h2>
      </legend>
    </div>
  </div>
  <!-- END : HEADER -->

  <!-- BEGIN : LOGIN FORM CONTAINER-->
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-2 
                col-sm-offset-2 col-md-offset-4 col-lg-offset-5">
      
      <!-- LOGIN-FORM COMPONENT -->
      <gro-login-form></gro-login-form>
      
    </div>
  </div>
  <!-- END : LOGIN FORM CONTAINER
    
  <!-- BEGIN : LOGIN FOOTER --> 
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-2 
                col-sm-offset-2 col-md-offset-4 col-lg-offset-5">
      <legend></legend>
      <h6 class="text-center">©2017  Jason White</h6>
    </div>
  </div>
  <!-- END : LOGIN FOOTER -->    

</div>
<!-- END : LOGIN -->
