.dropdown-menu-panel {
    margin-left: 16px !important;
    margin-right: 16px !important;
}

.dropdown-menu-options {
  width: 200px;
}

.dropdown-menu-datasource {
  width: 300px;
}

.dropshadow {
  -webkit-box-shadow: -5px 4px 12px 0px rgba(0,0,0,0.46);
  -moz-box-shadow: -5px 4px 12px 0px rgba(0,0,0,0.46);
  box-shadow: -5px 4px 12px 0px rgba(0,0,0,0.46);
}
