<!-- BEGIN : TABLE FILTER -->
<div *ngIf="components && components.length > 0">
  <gro-rpicomponent-filter></gro-rpicomponent-filter>
  <hr />
</div>
<!-- END : TABLE FILTER -->

<!-- BEGIN : COMPONENTS TABLE -->
<table *ngIf="components && components.length > 0" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Alias</th>
      <th>Type</th>
      <th>Pins</th>
      <th></th>
    </tr>
  </thead>
  <!-- RPICOMPONENTS COMPONENTS -->
  <tbody
      gro-rpicomponent-list
      [components]="components"
      (onHover)="hover($event)">
  </tbody>
</table>
<!-- END : COMPONENTS TABLE -->

<!-- BEGIN : NO COMPONENTS ALERT -->
<div *ngIf="!components || components.length == 0" class="alert alert-info">
  <div class="">
      <i class="fa fa-info-circle fa-icon-margin"></i> There are currently no components on this node
  </div>
</div>
<!-- END : NO COMPONENTS ALERT -->
