.simple-loader {
  margin: auto;
  padding: 0;
  border-radius: 50%;
  border-style: solid;
  border-color: #63778a; /* Light grey 4e5d6c */
  border-top-color: #5cb85c; /* green */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.simple-loader-xs {
  border-width: 4px;
  width: 16px;
  height: 16px;
}

.simple-loader-sm {
  border-width: 8px;
  width: 32px;
  height: 32px;
}

.simple-loader-md {
  border-width: 12px;
  width: 64px;
  height: 64px;
}

.simple-loader-lg {
  border-width: 16px;
  width: 128px;
  height: 128px;
}
