.dropshadow {
  -webkit-box-shadow: -5px 4px 12px 0px rgba(0,0,0,0.46);
  -moz-box-shadow: -5px 4px 12px 0px rgba(0,0,0,0.46);
  box-shadow: -5px 4px 12px 0px rgba(0,0,0,0.46);
}
.dropdown-notifications {
  width: 350px;
}
