<div class="panel-nav">
  <!-- ALL COMPONENTS BUTTON -->
  <button
      role="button"
      class="btn btn-default btn-sm"
      [ngClass]="{ active : selected === rPiComponentType.ALL }"
      (click)="changeFilter(rPiComponentType.ALL)">
    <i class="fa fa-object-group fa-icon-margin"></i>
      All
    <span class="label label-info"></span>
  </button>

  <!-- TEMPERATURE COMPONENT BUTTONS -->
  <button
      role="button"
      class="btn btn-default btn-sm"
      [ngClass]="{ active : selected === rPiComponentType.TEMPERATURE }"
      (click)="changeFilter(rPiComponentType.TEMPERATURE)">
    <i class="fa fa-sun-o fa-icon-margin"></i>
      Temperature
    <span class="label label-info"></span>
  </button>

  <!-- HUMIDITY COMPONENTS BUTTON -->
  <button
      role="button"
      class="btn btn-default btn-sm"
      [ngClass]="{ active : selected === rPiComponentType.HUMIDITY }"
      (click)="changeFilter(rPiComponentType.HUMIDITY)">
    <i class="fa fa-tint fa-icon-margin"></i>
    Humidity
    <span class="label label-info"></span>
  </button>

  <!-- RELAY COMPONENTS BUTTONS-->
  <button
      role="button"
      class="btn btn-default btn-sm"
      [ngClass]="{ active : selected === rPiComponentType.RELAY }"
      (click)="changeFilter(rPiComponentType.RELAY)">
    <i class="fa fa-toggle-on fa-icon-margin"></i>
    Relay
    <span class="label label-info"></span>
  </button>

  <!-- MOISTURE COMPONENTS BUTTONS-->
  <button
      role="button"
      class="btn btn-default btn-sm"
      [ngClass]="{ active : selected === rPiComponentType.MOISTURE }"
      (click)="changeFilter(rPiComponentType.MOISTURE)">
    <i class="fa fa-tint fa-icon-margin"></i>
    Moisture
    <span class="label label-info"></span>
  </button>

  <!-- PROXIMITY COMPONENTS BUTTONS-->
  <button
      role="button"
      class="btn btn-default btn-sm"
      [ngClass]="{ active : selected === rPiComponentType.PROXIMITY }"
      (click)="changeFilter(rPiComponentType.PROXIMITY)">
    <i class="fa fa-envelope fa-icon-margin"></i>
    Proximity
    <span class="label label-info"></span>
  </button>

  <!-- ADD COMPONENT BUTTON -->
  <button
      role="button"
      class="btn btn-success btn-sm pull-right">
    <i class="fa fa-plus-circle fa-icon-margin"></i>
    Add
    <span class="label label-info"></span>
  </button>
</div>
