<div class="panel panel-success">
  <div class="panel-heading">
    {{heading}}
  </div>
  <ul class="panel-body-list">
    <li class="panel-body-list-title" (click)="toggleTemperatureUnit()">
        <span>Temperature</span>
        <ul>
          <li *ngFor="let t of temperature">
            {{t.alias}}
            <span *ngIf="temperatureUnit === 'celsius'" class="label label-default pull-right">
              {{ t.current }} *C
            </span>
            <span *ngIf="temperatureUnit === 'fahrenheit'" class="label label-default pull-right">
              {{ t.current | celsiusToFahrenheit }} *F
            </span>
          </li>
        </ul>
    </li>
    <li class="panel-body-list-title">
        <span>Humidity</span>
        <ul>
          <li *ngFor="let h of humidity">
            {{h.alias}}
            <span class="label label-default pull-right">{{h.current}} %</span>
          </li>
        </ul>
    </li>

  </ul>
</div>
