<!-- START : DB PANEL -->
<div class="col-sm-12"
    [ngClass]="configuration.classes"
    (mouseenter)="showMenu()"
    (mouseleave)="hideMenu()">
  <div id="content" class="navbar-adjustment">

    <!-- NO ROWS TO ADD -->
    <div *ngIf="configuration.rows.length === 0" class="alert alert-info">
      <i class="fa fa-info"></i>
      There are currently no rows added to this panel.
    </div>

    <!-- ADD ROWS FROM CONFIGURATION -->
    <!--<div *ngIf="configuration.rows.length > 0">
      <gro-row
          *ngFor="let row of configuration.rows"
          [configuration]="row.configuration">
      </gro-row>
    </div> -->

    <div class="panel-menu" *ngIf="menuShown" class="row">
      <div class="col-xs-12">
        <button
            role="button"
            class="btn btn-default btn-sm"
            (click)="addColumn()">
          Add Column
        </button>
      </div>
    </div>

  </div>
</div>
<!-- END : DB PANEL -->
