.fa-icon-margin {
  margin-right: 6px !important;
}

.unauthorized {
  margin-top: 60px !important;
}

.unauthorized .fa {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.navbar-adjustment {
	padding-top: 56px !important;
}