<form (ngSubmit)="submit(form.value)" [formGroup]="form" novalidate>
  
  <!-- BEGIN : ERROR OUTPUT -->
  <gro-alert *ngIf="errorShown"
             [message]="errorMessage"></gro-alert>
  <!-- END : ERROR OUTPUT -->
  
  <!-- INPUT ALIAS -->
  <div class="form-group"
       [ngClass]="{'has-warning':!form.controls['alias'].valid && form.controls['alias'].touched,
                   'has-success': form.controls['alias'].valid }">
    <label class="sr-only" 
           for="alias">Alias</label>
        
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon input-icon-color">
        <i class="fa fa-user"></i>
      </div>
      <input class="form-control"
             type="text"
             id="alias"
             placeholder="Alias"
             formControlName="alias"/>
    </div>
  </div>
  <!-- END : INPUT ALIAS -->
    
  
  <!-- INPUT PIN -->
  <div class="form-group"
       [ngClass]="{'has-warning':!form.controls['pin'].valid && form.controls['pin'].touched ,
                   'has-success': form.controls['pin'].valid }" >
    <label class="sr-only" 
           for="pin">Pin</label>
        
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon input-icon-color">
        <i class="fa fa-lock"></i>
      </div>
      <input class="form-control" 
             id="pin" 
             placeholder="Pin" 
             type="number"
             formControlName="pin" />
    </div>
  </div>
  <!-- END : INPUT PIN -->
        
  
  <!-- FORM BUTTONS -->
  <div class="form-group">
    <button type="submit" 
            class="col-xs-6 btn btn-default-darker"
            [disabled]="!form.valid">
      {{ formSettings.submitLabel }}
    </button>
    <button *ngIf="formSettings.isClearable" type="reset"
            class="col-xs-6 btn btn-default">
      Clear
    </button>
  </div>
  <!--  END : FORM BUTTONS -->
  
</form>