<table id="gro-graph-table" *ngIf="data" class="table table-striped scrollable-table">
  <thead>
    <tr *ngIf="!headings">
      <th *ngFor="let heading of data[0] | keyExtract">{{ heading | keyToTitle:"camel" }}</th>
    </tr>
    <tr *ngIf="headings">
      <th *ngFor="let heading of headings">{{ heading }}</th>
    </tr>
  </thead>
  <tbody>
    <!-- need to fix this to pull object keys and use to create table rows -->
    <tr *ngFor="let d of data">
      <td>{{ d.date | date:'short' }}</td>
      <td>{{ d.component.alias }}</td>
      <td>{{ d.temperature }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="!data" class="alert alert-info">
    <h5><strong>Error</strong> No data to display</h5>
</div>
