<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Alias</th>
			<th>Pin</th>
			<th>Type</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let component of components">
			<td>{{ component.id }}</td>
			<td>{{ component.alias }}</td>
			<td>{{ component.pin }}</td>
			<td>{{ component.type }}</td>
			<td class="text-right">
				<button role="button" class="btn btn-xs btn-default">
					<i class="fa fa-edit"></i>
				</button>
				<button role="button" 
								class="btn btn-xs btn-warning"
								(click)="delete(component.id)">
					<i class="fa fa-trash"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>