<!-- BEGIN : COLUMN -->
<div class="col-sm-12" [ngClass]="configuration.classes">

  <!-- BEGIN : PANEL -->
  <div class="panel panel-default">
    <div class="panel-heading">

      <!-- BEGIN HEADING DROPDOWN : Graph Table Options -->
      <div [ngClass]="{ 'hide' : !configuration.editable }" class="btn-group pull-right">

        <!-- BUTTON : Options Button -->
        <button
            class="btn btn-default toggle-dropdown"
            data-toggle="dropdown"
            aria-expanded="false"
            aria-haspopup="true">
          <i class="fa fa-cog"></i>
        </button>

        <!-- DROPDOWN : Options Dropdown -->
        <div class="dropdown-menu dropdown-menu-right dropshadow dropdown-menu-options"
            (click)="$event.stopPropagation()">
          <gro-graph-table-options
              [graphType]="configuration.graph.type"
              [orientation]="configuration.orientation"
              [graphVisible]="configuration.graph.visible"
              [tableVisible]="configuration.table.visible"
              (onChangeOrientation)="onChangeOrientation($event)"
              (onChangeGraphType)="onChangeGraphType($event)"
              (onChangeGraphVisibility)="onChangeGraphVisibility($event)"
              (onChangeTableVisibility)="onChangeTableVisibility($event)">
          </gro-graph-table-options>
        </div>
      </div>
      <!-- END HEADING DROPDOWN : Graph Table Options -->

      <!-- BEGIN HEADING DROPDOWN : Graph Table Datasource -->
      <div [ngClass]="{ 'hide' : !configuration.editable }" class="btn-group pull-right">

        <!-- BUTTON : Datasource Button -->
        <button
            class="btn btn-default toggle-dropdown"
            data-toggle="dropdown"
            aria-expanded="false"
            aria-haspopup="true">
          <i class="fa fa-database"></i>
        </button>

        <!-- DROPDOWN : Datasource Dropdown -->
        <div class="dropdown-menu dropdown-menu-right dropshadow dropdown-menu-datasource"
             (click)="$event.stopPropagation()">
          <gro-graph-table-data
              [isLoading]="isLoading"
              [configuration]="configuration.datasource"
              (onUpdateData)="onUpdateData($event)">
          </gro-graph-table-data>
        </div>
      </div>
      <!-- BEGIN HEADING DROPDOWN : Graph Table Datasource -->

      <!-- HEADING TITLE -->
      <h5 data-toggle="collapse"
          data-target="#sg1"
          aria-expanded="true">
          {{ title | keyToTitle }}
          <span *ngIf="titleLabel"class="label label-success">{{ titleLabel }}</span>
      </h5>
    </div>
    <!-- END : Panel Heading -->


    <div class="panel-body">
      <div class="row">

        <!-- GRAPH COMPONENT -->
        <div class="col-sm-12"
            [ngClass]="{'col-md-6' :
                           (configuration.orientation === orientationTypeEnum.INLINE) &&
                           (configuration.graph.visible && configuration.table.visible) }">
          <gro-graph
              *ngIf="configuration.graph.visible"
              [data]="graphData"
              [labels]="graphLabels"
              [graphType]="configuration.graph.type">
          </gro-graph>
        </div>

        <!-- PAGEABLE TABLE COMPONENT -->
        <div class="col-xs-12"
             [ngClass]="{'col-md-6' :
                            (configuration.orientation === orientationTypeEnum.INLINE) &&
                            (configuration.graph.visible && configuration.table.visible) }">
          <gro-pageable-table
              *ngIf="configuration.table.visible"
              [page]="page"
              [headings]="headings"
              (onPageChange)="pageChange($event)">
          </gro-pageable-table>
        </div>

      </div><!-- END : Graph-Table Row -->

    </div> <!-- END : Panel Body -->
  </div> <!-- END : Panel -->
</div><!-- END : COLUMN -->
