<div class="panel panel-default">
  <div class="panel-body">
    <legend><h4>Settings</h4></legend>
  <ul class="panel-nav-list">
    <li class="panel-nav-list-item" [routerLinkActive]="['list-item-active']" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/settings/rpi']">RPi Nodes</a>
    </li>
    <li class="panel-nav-list-item" [routerLinkActive]="['list-item-active']" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/settings/schedule']">Scheduling</a>
    </li>
    <li class="panel-nav-list-item" [routerLinkActive]="['list-item-active']" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/settings/user']">User Accounts</a>
    </li>
  </ul>
  </div>
</div>
