.nav-section {
  margin-left: 0px;
  margin-bottom: 16px;
}

.nav-section > .nav-section-title {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #ccc;
  font-weight: bold;
}

ul.panel-nav-list {
  list-style: none;
  margin: 4px 0px 0px 0px;
  padding: 0px;
}

ul.panel-nav-list > li.panel-nav-list-item > a {
  text-decoration: none;
	color: #fff;
}

ul.panel-nav-list > li.panel-nav-list-item {
  padding: 4px 8px !important;
}

li.list-item-active {
	background: #2b3e50;
}
