<div class="container-fluid">
  <div class="row" *ngIf="isLoading">
    <gro-page-loader></gro-page-loader>
  </div>
  <div class="row" *ngIf="!isLoading">

    <!-- BEGIN : LEFT SIDE COLUMN -->
    <div class="col-sm-12 col-md-4 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side navbar-adjustment">
        <div class="container">
          <div class="navbar-collapse">
            <div class="container-fluid">

              <!-- BEGIN : SENSOR READINGS -->
              <div class="row">
                <div class="col-xs-12">
                   <gro-readings-list></gro-readings-list>
                 </div>
               </div>
               <!-- END : SENSOR READINGS -->

               <!-- BEGIN : RELAY PANEL -->
               <div class="row">
                 <div class="col-xs-12">
                   <gro-relays></gro-relays>
                 </div>
               </div>
               <!-- END: RELAY PANEL -->

            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- END : LEFT SIDE COLUMN -->

    <!-- BEGIN : RIGHT SIDE COLUMN -->
    <div class="col-sm-12 col-md-8 col-lg-10">
      <div id="content" class="navbar-adjustment">
        <!-- CONTENT WILL GO HERE : GRAPHS, TABLES ETC -->

        <!-- BEGIN: Main Graph-Table Component -->
        <div class="row">
          <div class="col-sm-12">
            <gro-graph-table
                [graphType]="'polarArea'">
            </gro-graph-table>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <gro-graph-table
                    [metricDataType]="'humidity'"
                    [metricTime]="'hourly'"
                    [metricCalc]="'high'"
                    [graphType]="'bar'"
                    [orientation]="'stacked'">
                </gro-graph-table>
              </div>
              <div class="col-sm-12 col-md-6">
                <gro-graph-table
                    [metricTime]="'monthly'"
                    [graphVisible]="false"
                    [editable]="false">
                </gro-graph-table>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <gro-graph-table
                        [metricTime]="'hourly'"
                        [metricCalc]="'average'"
                        [tableVisible]="false"
                        [graphType]="'radar'"
                        [editable]="false">
                    </gro-graph-table>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <gro-graph-table
                        [metricTime]="'monthly'"
                        [tableVisible]="false"
                        [metricCalc]="'average'"
                        [graphType]="'line'"
                        [editable]="false">
                    </gro-graph-table>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <gro-graph-table
                        [metricTime]="'daily'"
                        [metricCalc]="'high'"
                        [tableVisible]="false"
                        [graphType]="'bar'"
                        [editable]="false">
                    </gro-graph-table>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <gro-graph-table
                        [metricTime]="'monthly'"
                        [tableVisible]="false"
                        [graphType]="'radar'"
                        [editable]="false">
                    </gro-graph-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- END : RIGHT SIDE COLUMN -->

  </div>
</div>
