<!-- BEGIN : FIXED SIDE PANEL -->
<div class="col-sm-12 col-md-4 col-lg-2"
    [ngClass]="configuration.classes">
  <nav class="navbar navbar-default navbar-fixed-side navbar-adjustment">
    <div class="container">
      <div class="navbar-collapse">
        <div class="container-fluid">

          <!-- BEGIN : Fixed Side Panel Components -->
          <div class="row">
            <div class="col-xs-12">
              <div class="alert alert-info">
                <span class="strong">Info: </span>There are no components added to this panel.
              </div>
             </div>
           </div>
           <!-- END : Fixed Side Panel Components -->

        </div>
      </div>
    </div>
  </nav>
</div>
<!-- END : FIXED SIDE PANEL-->
