<form (ngSubmit)="submit(form.value)" [formGroup]="form" novalidate>
  
  <!-- BEGIN : ERROR OUTPUT -->
  <gro-alert *ngIf="errorShown"
             [message]="errorMessage"></gro-alert>
  <!-- END : ERROR OUTPUT -->
  
  <!-- INPUT ALIAS -->
  <div class="form-group"
       [ngClass]="{'has-warning':!form.controls['alias'].valid && form.controls['alias'].touched  }">
    <label class="sr-only" 
           for="alias">Alias</label>
        
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon input-icon-color">
        <i class="fa fa-user"></i>
      </div>
      <input class="form-control"
             type="text"
             id="alias"
             placeholder="Component Alias"
             formControlName="alias"/>
    </div>
  </div>
  <!-- END : INPUT ALIAS -->
    
  
  <!-- INPUT PIN -->
  <div class="form-group"
       [ngClass]="{'has-warning':!form.controls['pin'].valid && form.controls['pin'].touched }">
    <label class="sr-only" 
           for="pin">Pin</label>
        
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon input-icon-color">
        <i class="fa fa-lock"></i>
      </div>
      <input class="form-control" 
             id="pin" 
             placeholder="Pin Number" 
             type="number"
             formControlName="pin" />
    </div>
  </div>
  <!-- END : INPUT PIN -->
  

  <!-- INPUT COMPONENT TYPE -->
  <div class="form-group"
       [ngClass]="{'has-warning':!form.controls['type'].valid && form.controls['type'].touched }" >
    <label class="sr-only" 
           for="type">Type</label>
        
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon input-icon-color">
        <i class="fa fa-lock"></i>
      </div>
      <select class="form-control" 
             id="type" 
             placeholder="Component Type" 
             type="text"
             formControlName="type">
        <option value="" disabled selected>Component Type</option>
        <!-- SEE IF YOU CAN DO THIS WITH *ngFor (with enum) -->
        <option value="{{ RPiComponentType[ RPiComponentType.TEMPERATURE ] }}">
          {{ RPiComponentType[RPiComponentType.TEMPERATURE] }}</option>
        <option value="{{ RPiComponentType[ RPiComponentType.HUMIDITY ] }}">
          {{ RPiComponentType[RPiComponentType.HUMIDITY] }}</option>
        <option value="{{ RPiComponentType[ RPiComponentType.TEMPERATURE_HUMIDITY ] }}">
          {{ RPiComponentType[RPiComponentType.TEMPERATURE_HUMIDITY] }}</option>
        <option value="{{ RPiComponentType[ RPiComponentType.PROXIMITY ] }}">
          {{ RPiComponentType[RPiComponentType.PROXIMITY] }}</option>
        <option value="{{ RPiComponentType[ RPiComponentType.RELAY ] }}">
          {{ RPiComponentType[RPiComponentType.RELAY] }}</option>
      </select>
    </div>
  </div>
  <!-- END : INPUT COMPONENT TYPE -->

  
  <!-- FORM BUTTONS -->
  <div class="form-group">
    <button type="submit" 
            class="col-xs-6 btn btn-default-darker"
            [disabled]="!form.valid">
      {{ formSettings.submitLabel }}
    </button>
    <button *ngIf="formSettings.isClearable" type="reset"
            class="col-xs-6 btn btn-default">
      Clear
    </button>
  </div>
  <!--  END : FORM BUTTONS -->
  
</form>